In [5]:
import numpy as np
import pandas as pd

In [6]:
bm = pd.read_csv("bm-data.csv")

¿Cuántos registros tiene el archivo?

In [7]:
bm.shape

(150666, 9)

In [8]:
bm.head()

,FECHA,EVENTO,CORREO,TIPO DE PAGO,SUBTOTAL,TOTAL,APROBADA,REEMBOLSADA,COMPRA
0,30/09/2022 23:59,León vs Tijuana (2x1),mike_leon19@hotmail.com,openpay-api,$200.00,$234.00,Rechazada,NO,NaN
1,30/09/2022 23:59,León vs Tijuana (2x1),mike_leon19@hotmail.com,openpay-api,$200.00,$234.00,Rechazada,NO,NaN
2,30/09/2022 23:59,León vs Tijuana (2x1),mike_leon19@hotmail.com,openpay-api,$200.00,$234.00,Rechazada,NO,NaN
3,30/09/2022 23:58,León vs Tijuana (2x1),castroaxl@icloud.com,paypal-api,$400.00,$464.00,Aprobada,NO,5025570.0
4,30/09/2022 23:56,Jose Luis Zagar en Mazatlan,mald29feb@gmail.com,openpay-api,$600.00,$677.00,Aprobada,NO,5025569.0

In [9]:
bm.rename(columns={col: col.lower().replace(' ','_') for col in bm.columns.values}, inplace=True)

In [11]:
bm.columns.values

array(['fecha', 'evento', 'correo', 'tipo_de_pago', 'subtotal', 'total',
       'aprobada', 'reembolsada', 'compra'], dtype=object)

¿Cuántas variables diferentes tienes en el dataset?

In [12]:
len(bm.columns.values)

9

¿De qué a qué fecha tenemos registro?

In [13]:
(bm['fecha'].min(), bm['fecha'].max())

('01/09/2022 00:00', '30/09/2022 23:59')

¿De cuantos eventos diferentes hay registro?

In [14]:
bm.evento.nunique()

415

 Diferentes métodos de pago que tienen

In [23]:
bm.tipo_de_pago.unique()

array(['openpay-api', 'paypal-api', 'openpay-3ds', 'mercadopago',
       'conekta-oxxo-pay', 'conekta-spei', 'bmpay', 'bitpay'],
      dtype=object)

¿Cuántas compras si se realizaron?

In [15]:
bm.compra.count()

83239